/***** Search Bar *****/
.input-group {
  margin: 20px 0;
}

/***** Weather list *****/
td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

/* Map cell */
td:first-of-type, td:first-of-type > div {
  height: 200px;
  width: 250px;
}

/* Charts */
svg {
  height: 150px;
}